.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e{
    padding: 5px;
}
.centrer{
    text-align: center;
}
.custom-corners .ui-bar{
    margin: 5 px;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
}
.custom-corners .ui-body{
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.ui-dialog-contain {
	width: 92.5%;
	max-width: 800px;
	margin: 10% auto 15px auto;
	padding: 0;
	position: relative;
	top: -5px;
}