<!DOCTYPE html>
<html>


<head>
	<title>myViewer</title> 
	<meta name=viewport content="width=device-width, user-scalable=no">
	<link rel=icon type=image/png href={{ url_for('static', filename='favicon.ico') }}/>
	<link rel=apple-touch-icon href={{ url_for('static', filename='appleicon.png') }}/>
	<link rel=stylesheet href={{ url_for('static', filename='jquery.mobile-1.4.5.min.css') }}/>
	<link rel=stylesheet href={{ url_for('static', filename='style.css') }}/>
	<script src={{ url_for('static', filename='jquery-1.11.3.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.mobile-1.4.5.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.autoheight.js') }}></script>
</head>

<body>
	<div data-role=page data-title="myViewer">
		<!--menu-->
		<div class="ui-grid-d">
				<div class="ui-block-a "><a class="ui-shadow ui-btn ui-corner-all" href={{SERVEUR}}>Retour au menu principal</a></div>
				<div class="ui-block-b"></div>
				<div class="ui-block-c"></div>
				<div class="ui-block-d"></div>			
				<div class="ui-block-e"></div>
			</div>
		<!--content-->
		<div data-role=content>
			<div class="ui-grid-b">
				<div class="ui-block-a"></div>
				<div class="ui-block-b centrer">
					<img  src={{ url_for('static', filename='logo.png') }}>
					<ul data-role="listview" data-inset=true data-filter=false>
						{% if dossier=='menu' %}
							{% for fichier in listeFichiers %}
								{% set lien = [SERVEUR, '/afficher/', fichier]|join %}
								<li><a href={{lien}}>{{fichier}}</a></li>
							{% endfor %}
						{% else %}
							{% for fichier in listeFichiers %}
							{% set lien = [SERVEUR, '/lire?rep=', dossier, '&file=', fichier]|join %}
							<li><a href={{lien}}>{{fichier}}</a></li>
							{% endfor %}
						{% endif %}						
					</ul>
				</div>
				<div class="ui-block-c"></div>
			</div>	
		</div>
	</div>	
</body>

</html>