<!DOCTYPE html>
<html>


<head>
	<title>myViewer</title> 
	<meta name=viewport content="width=device-width, user-scalable=no">
	<link rel=icon type=image/png href={{ url_for('static', filename='favicon.ico') }}/>
	<link rel=apple-touch-icon href={{ url_for('static', filename='appleicon.png') }}/>
	<link rel=stylesheet href={{ url_for('static', filename='jquery.mobile-1.4.5.min.css') }}/>
	<link rel=stylesheet href={{ url_for('static', filename='style.css') }}/>
	<script src={{ url_for('static', filename='jquery-1.11.3.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.mobile-1.4.5.min.js') }}></script>
	<script src={{ url_for('static', filename='jquery.autoheight.js') }}></script>
</head>

<body>
	<div data-role=dialog data-title="myViewer" data-close-btn="right">
		<!--header-->
		<div data-role=header>
				<h1>{{fichier}}</h1>
			</div>
		<!--content-->
		<div data-role=content>
			<div class="centrer">
				{% set fichier = ['tmp/' + fichier]|join %}
				<iframe src={{ url_for('static', filename=fichier)  }} width=750 height=600>
			</div>
		</div>
	</div>	
</body>

</html>